  body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
    background-color: rgba(104, 104, 104, 0.193);
    margin: 0;
  }

  .topo {
    background-color: rgba(228, 89, 65, 0.597);
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 250px;
  }

  .foto-perfil {
    height: 250px;
    border-radius: 50%;
    border-color: rgba(228, 89, 65, 0.597);
    border-style: solid;
    margin-top: 115px;
   }

   .flecha {
     margin-top: 50px;
     height: 50px;
   }

   .redes-sociais {
     height: 50px;
    }

  .botao-links {
    color: black;
    background: rgba(228, 89, 65, 0.296);
    padding: 10px;
    margin: 20px;
    text-decoration: none;
  }

  .espacamento-links {
    margin-top: 50px;
    margin-bottom: 190px;
  }

  .centralizar {
    text-align: center;
  }

  .italico {
    font-style: italic;
  }

  .espaco-limitado {
    width: 60%;
    margin: auto;
  }

  h2 {
    margin-top: 140px;
    color: rgb(0, 0, 0);
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
  }

  h4 {
    margin-top: 100px;
  }
 